.about__container {
  gap: 40px;
  display: flex;
  flex-direction: column;
  padding: 51px 0 50px;

  @media (min-width: 768px) {
    padding: 50px 0 50px;
    gap: 60px;
  }

  @media (min-width: 1440px) {
    padding: 70px 0 60px;
  }
}

.about__title {
  @include content-title;
  padding-left: 1px;
  margin: 0 0 14px;

  @media (min-width: 768px) {
    padding: 0;
    margin: 0 0 30px;
  }
}

.about__group {
  @media (min-width: 1440px) {
    display: flex;
    flex-wrap: wrap;
  }
}

.about__internship {
  margin-bottom: 40px;

  @media (min-width: 1440px) {
    width: 702px;
    margin: 0;
  }

  @media (min-width: 1440px) {
    margin-right: 40px;
  }
}

.about__internship p {
  font-size: 16px;
  line-height: 22px;
  margin: 0;

  @media (min-width: 768px) {
    font-size: 20px;
    line-height: 26px;
  }

  @media (min-width: 1440px) {
    font-size: 22px;
    line-height: 32px;
  }
}

.about__goal {
  @media (min-width: 768px) {
    width: 492px;
  }

  @media (min-width: 1440px) {
    width: 498px;
  }
}

.about__goal h3 {
  font-size: 18px;
  font-weight: 400;
  line-height: 22px;
  color: #316dc2;
  margin: 0 0 20px;

  @media (min-width: 768px) {
    font-size: 28px;
    line-height: 28px;
    margin: 0 0 30px;
  }

  @media (min-width: 1440px) {
    font-size: 32px;
    line-height: 36px;
    margin: 0 0 40px;
  }
}

.about__goal p {
  font-size: 14px;
  line-height: 20px;
  margin: 0;

  @media (min-width: 768px) {
    font-size: 16px;
    line-height: 20px;
  }

  @media (min-width: 1440px) {
    line-height: 26px;
  }
}

.about__link {
  font-size: 12px;
  font-weight: 500;
  line-height: 12px;
  letter-spacing: 0.2px;
  color: #316dc2;
  text-decoration: none;
  text-transform: uppercase;
  width: 223px;
  height: 44px;
  padding: 5px 4px 5px 20px;
  justify-content: space-between;
  border-radius: 30px;
  display: flex;
  align-items: center;
  border: 1px solid #316dc2;
  margin-top: 30px;

  @media (min-width: 768px) {
    width: 279px;
    height: 56px;
    font-size: 14px;
    line-height: 14px;
    letter-spacing: 0.28px;
    margin-top: 40px;
    padding: 5px 4px 5px 30px;
  }

  @media (min-width: 1440px) {
    margin: 50px 218px 0 auto;
  }
}

.about__list {
  @include list-reset;
  padding: 42px 20px 40px;
  background: #316dc2;
  color: #ffffff;
  border-radius: 20px;
  gap: 22px;
  display: flex;
  flex-direction: column;

  @media (min-width: 768px) {
    flex-direction: unset;
    flex-wrap: wrap;
    padding: 72px 50px 50px 70px;
    gap: 54px 52px;
  }

  @media (min-width: 1440px) {
    padding: 72px 50px 50px 120px;
  }
}

.about__item {
  position: relative;
  width: 250px;
  padding: 15px 21px 16px 20px;
  border-radius: 16px;
  border: 1px solid #f0efe9;

  @media (min-width: 768px) {
    width: 253px;
    padding: 15px 21px 15px 20px;
  }

  @media (min-width: 1440px) {
    width: 484px;
    display: flex;
    padding: 30px 21px 30px 40px;
    gap: 30px;
    align-items: center;
  }
}

.about__item::before {
  content: '';
  position: absolute;
  background-image: url("../../img/star-icon.svg");
  background-position: center;
  background-repeat: no-repeat;
  width: 42px;
  height: 42px;
  top: -23px;
  left: -21px;
}

.about__item h3 {
  margin: 0 0 14px;
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
  letter-spacing: 0.16px;
  text-transform: uppercase;

  @media (min-width: 768px) {
    font-size: 20px;
    line-height: 22px;
    letter-spacing: 0.2px;
    margin: 0 0 15px;
    width: 145px;
  }

  @media (min-width: 1440px) {
    font-size: 26px;
    line-height: 30px;
    letter-spacing: 0.26px;
    width: 171px;
    margin: 0;
  }
}

.about__item p {
  margin: 0;
  font-size: 14px;
  line-height: 20px;
  color: #f0efe9;
  letter-spacing: -0.1px;

  @media (min-width: 768px) {
    font-size: 16px;
    width: 213px;
    line-height: 20px;
  }

  @media (min-width: 1440px) {
    font-size: 16px;
    line-height: 20px;
    max-width: 194px;
  }
}
