.faq__inner {
  padding: 50px 0;
}

.faq__inner h2 {
  @include content-title;
  text-align: center;
  margin: 0 0 30px;

  @media (min-width: 768px) {
    margin: 0 0 40px;
  }
}

.faq__qna {
  @include list-reset;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.faq__qna-item {
  position: relative;
}

.faq__qna-item button {
  display: block;
  width: 100%;
  padding: 22px 63px 22px 15px;
  font-weight: 400;
  font-size: 16px;
  line-height: 18px;
  color: #316dc2;
  background: #ffffff;
  border: 2px solid #316dc2;
  border-radius: 14px;
  text-align: left;
  position: relative;
  cursor: pointer;

  @media (min-width: 768px) {
    font-size: 22px;
    line-height: 26px;
    border-radius: 16px;
    padding: 36px 63px 38px 30px;
  }
}

.faq__qna-item--active button {
  background: #316dc2;
  color: #ffffff;
  border-radius: 14px 14px 0 0;
  border-bottom: none;

  @media (min-width: 768px) {
    padding: 36px 63px 27px 30px;
  }
}

.faq__qna-item:nth-of-type(4) button,
.faq__qna-item:nth-of-type(5) button {
  padding: 20px 63px 20px 15px;

  @media (min-width: 768px) {
    padding: 29px 175px 31px 30px;
  }
}

.faq__answer {
  display: none;
}

.faq__answer--active {
  display: block;
  color: #f0efe9;
  font-size: 14px;
  line-height: 20px;
  background: #316dc2;
  margin: 0;
  border-radius: 0 0 14px 14px;
  padding: 0px 36px 22px 17px;

  @media (min-width: 768px) {
    font-size: 16px;
    line-height: 20px;
    padding: 0px 36px 33px 32px;
  }
}

.faq__answer-icon {
  position: absolute;
  width: 40px;
  height: 40px;
  top: 22px;
  right: 17px;
  padding-top: 3px;
  border-radius: 30px;
  text-align: center;
  align-content: center;
  background: #316dc2;
  color: #ffffff;

  @media (min-width: 768px) {
    top: 32px;
    right: 32px;
  }
}

.faq__qna-item--active .faq__answer-icon {
  background: #ffffff;
  color: #316dc2;
}

.faq__qna-item:nth-of-type(4) .faq__answer-icon {
  top: 29px;
}

.faq__qna-item:nth-of-type(5) .faq__answer-icon {
  top: 38px;
}

.faq__qna-item:nth-of-type(4) .faq__answer-icon,
.faq__qna-item:nth-of-type(5) .faq__answer-icon {
  @media (min-width: 768px) {
    top: 32px;
  }
}
