.pagination-indicator {
  @media (min-width: 768px) {
    position: absolute;
    bottom: 60px;
    height: 2px;
    background: rgba(49, 109, 194, 0.2);
    transition: all 0.3s ease;
    width: 562px;
  }

  @media (min-width: 1440px) {
    width: 1136px;
    bottom: 70px;
  }
}

.pagination-indicator-item {
  @media (min-width: 768px) {
    width: 326px;
    background-color: #316dc2;
    height: 2px;
    position: absolute;
  }

  @media (min-width: 1440px) {
    width: 394px;
  }
}
